@charset "utf-8";
/* CSS Document */

html{
	background: #f1f1f1 url(/img/style/1_day_bg.jpg) repeat;
}
body{
	background: url(/img/style/day_art.jpg) no-repeat center 0;
}
h1.page-title{
	color: #212121;
	text-shadow: 1px 1px 0 #fcfcfc;
	margin-bottom: 10px;
}
			#nav > li > a{
				font-weight: bold;
				color: #212121;
				text-shadow: 1px 1px 0 #fcfcfc;
			}
			#nav li a:hover, #nav li a.act{
				color: #505050;
			}

#bg{
	min-height: 100%;
	background: none;
}
#footer_shadow{
	float: left;
	clear: both;
	width: 99.9999%;
	height: 30px;
	margin-top: -30px;
	background: url(/img/style/footer_shadow.png) repeat 0 0;
}
