@charset "utf-8";
/* CSS Document */

#slider_dots li{
	zoom: 1;
	display: inline;
}
.gallery_item{
	zoom: 1;
	display: inline;
}
.gallery_item .shadow_light{
	margin: 5px 0 5px 0;
	padding: 0;
}