.shareindex{
  float:right;
  display:inline;
  height: 22px;
  margin: 15px 0 3px 0;
}
.shareview{
    float:left;
    margin:5px 27% 0 27%;
}
.shareindex.sharrre .box{
  background:#6f838c;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(#6f838c,0),color-stop(#4d5e66,1));
  background:-webkit-linear-gradient(top, #6f838c 0%, #4d5e66 100%);
  background:-moz-linear-gradient(top, #6f838c 0%, #4d5e66 100%);
  background:-o-linear-gradient(top, #6f838c 0%, #4d5e66 100%);
  background:linear-gradient(top, #6f838c 0%, #4d5e66 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f838c', endColorstr='#4d5e66',GradientType=0 );
  -webkit-box-shadow:0 1px 1px #d3d3d3;
  -moz-box-shadow:0 1px 1px #d3d3d3;
  box-shadow:0 1px 1px #d3d3d3;
  height:22px;
  display:inline-block;
  position:relative;
  padding:0px 55px 0 8px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:12px;
  float:left;
  clear:both;
  overflow:hidden;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  transition:all 0.3s linear;
}
.shareindex.sharrre .left{
  line-height:22px;
  display:block;
  white-space:nowrap;
  text-shadow:0px 1px 1px rgba(255,255,255,0.3);
  color:#ffffff;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.shareindex.sharrre .middle{
  position:absolute;
  height:22px;
  top:0px;
  right:30px;
  width:0px;
  background:#63707e;
  text-shadow:0px -1px 1px #363f49;
  color:#fff;
  white-space:nowrap;
  text-align:left;
  overflow:hidden;
  -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  -webkit-transition:width 0.3s linear;
  -moz-transition:width 0.3s linear;
  -o-transition:width 0.3s linear;
  transition:width 0.3s linear;
}
.shareindex.sharrre .middle a{
  color:#fff;
  font-weight:bold;
  padding:0 9px 0 9px;
  text-align:center;
  float:left;
  line-height:22px;
  -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
}
.shareindex.sharrre .right{
  position:absolute;
  right:0px;
  top:0px;
  height:100%;
  width:45px;
  text-align:center;
  line-height:22px;
  color:#4b5d61;
  background:#f1faf9;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(#f1faf9,0),color-stop(#bacfd2,1));
  background:-webkit-linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
  background:-moz-linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
  background:-o-linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
  background:linear-gradient(top, #f1faf9 0%, #bacfd2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1faf9', endColorstr='#bacfd2',GradientType=0 );
}
.shareindex.sharrre .box:hover{
  padding-right:130px;
}
.shareindex.sharrre .middle a:hover{
  text-decoration:none;
}
.shareindex.sharrre .box:hover .middle{
  width:90px;
}

.shareview{
   float:left;
   margin:5px 27% 0 27%;
   padding:0;
 }

.shareview .sharrre{
  margin:55px 0 0 50px;
  float:left;
}

.shareview .sharrre .box{
  float:left;
  width:80px;
  height:75px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  -webkit-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #54a2bc, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #54a2bc, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
  box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #54a2bc, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 2px 0px 0px rgba(255, 255, 255, 1);
  background: #dee7ea; /* Old browsers */
  background: -moz-linear-gradient(top, #dee7ea 0%, #e5eef2 20%, #e5eef2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dee7ea), color-stop(20%,#e5eef2), color-stop(100%,#e5eef2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* IE10+ */
  background: linear-gradient(top, #dee7ea 0%,#e5eef2 20%,#e5eef2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee7ea', endColorstr='#e5eef2',GradientType=0 ); /* IE6-9 */
}

.shareview #facebook .box{
  -webkit-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #28437a, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #28437a, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
  box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #28437a, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 2px 0px 0px rgba(255, 255, 255, 1);
}

.shareview #googleplus .box{
  -webkit-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #404040, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #404040, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
  box-shadow:0 1px 0 #C3C3C3, 0 6px 0 #404040, 0px 2px 3px 0px rgba(47, 58, 61, 0.25), inset 0px 2px 0px 0px rgba(255, 255, 255, 1);
}
/*
.shareview .sharrre .box:active, .shareview #facebook .box:active, .shareview #googleplus .box:active{
  box-shadow:0 0 3px #333333;
  margin-top:4px;
}
*/
.shareview .sharrre .count, .shareview .sharrre .share{
  display:inline-block;
  width:78px;
  text-align:center;
  font-weight:bold;
}

.shareview .sharrre .count{
  font-size:20px;
  color:#444444;
  text-shadow: 0px 1px 0px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  height:40px;
  line-height:40px;
  border:1px solid #b9b9b9;
  border-width:1px 1px 0 1px;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
  -webkit-border-radius:7px 7px 0 0;
  border-radius:7px 7px 0 0;
  position:relative;
}

.shareview .sharrre .count:before, .shareview .sharrre .count:after {
	content:'';
	display:block;
	position:absolute;
	left:49%;
	width:0;
	height:0;
}

.shareview .sharrre .count:before {
	border:solid 7px transparent;
	border-top-color:#b2c6cc;
	margin-left:-7px;
	bottom: -14px;
}

.shareview .sharrre .count:after {
	border:solid 6px transparent;
	margin-left:-6px;
	bottom:-12px;
	border-top-color:#e5eef2;
}

.shareview .sharrre .share{
  height:34px;
  line-height:34px;
  color:#ffffff;
  font-size:13px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
  filter: dropshadow(color=#d1d1d1, offx=0, offy=1);
  border:1px solid #6fa4b5;
  border-width:0 1px 1px 1px;
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  -moz-border-radius-bottomright:7px;
  -moz-border-radius-bottomleft:7px;
  -webkit-border-radius:0 0 7px 7px;
  border-radius:0 0 7px 7px;
  background-color:#7ac5df;
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(105, 164, 185, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(105, 164, 185, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
  box-shadow:inset 0px 1px 0px 0px rgba(105, 164, 185, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15); 
}

.shareview .sharrre .share span{
  background:url("/img/example6.png") no-repeat scroll 0 0 transparent;
  width:18px;
  height:10px;
  display: inline-block;
}

.shareview #facebook .share span{
  background-position:0 -35px;
  height:12px;
}

.shareview #facebook .share{
  border-color:#35538f;
  background: #637fbb; /* Old browsers */
  background: -moz-linear-gradient(top, #637fbb 0%, #49649e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#637fbb), color-stop(100%,#49649e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #637fbb 0%,#49649e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #637fbb 0%,#49649e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #637fbb 0%,#49649e 100%); /* IE10+ */
  background: linear-gradient(top, #637fbb 0%,#49649e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637fbb', endColorstr='#49649e',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
  box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15); 
}

.shareview #googleplus .share{
  border-color:#303030;
  background: #626263; /* Old browsers */
  background: -moz-linear-gradient(top, #626263 0%, #424244 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626263), color-stop(100%,#424244)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #626263 0%,#424244 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #626263 0%,#424244 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #626263 0%,#424244 100%); /* IE10+ */
  background: linear-gradient(top, #626263 0%,#424244 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626263', endColorstr='#424244',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15);
  box-shadow:inset 0px 1px 0px 0px rgba(74, 95, 138, 1), inset 0px -1px 2px 0px rgba(255, 255, 255, 0.4), inset 0px 2px 1px 0px rgba(255, 0, 0, 0.15); 
}