@charset "utf-8";

/* CSS Document */



/*

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[Table of contents]



1. Body

2. Top / #top

3. Header / #header

    - Logo

	- Navigation

6. Content / #content

    - Article

	- Article footer

	- Post types

	- Entry meta: list

	- Entry meta: post

	- Paginator

	- Comments

	- Gallery

7. Aside / #aside

8. Footer / #footer



10. Misc

11. Widgets

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

*/





/* [1. Body] */

html, body{ 

	margin: 0;

	padding: 0;

	min-width: 998px;

	height: 100%;

}

body, td, th, button, input, select, textarea{

	font: normal 12px/20px 'Lucida Sans Unicode', 'Lucida Grande', Arial, san-serif;

	text-shadow: 1px 1px 0 #000;

	color: #ededed;

}

button, input, select, textarea{

	background: #262626;

	border: solid #2f2f2f 1px;

	border-top-color: #000;

	border-left-color: #000;

	/*font-style: italic;*/

}

textarea:focus, input:focus{

	/*font-style: normal;*/

	color: #ededed;

}

textarea.placeholder, input.placeholder {

   color: #5d5d5d;

   font-style: italic;

}

h1, h2, h3, h4, h5, h6{

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #181818;

}

h1{

	font-size: 30px;

	line-height: 40px;

}

h1 cufon{

	top: -8px !important;

}

h2{

	font-size: 24px;

	line-height: 30px;

	padding: 0 0 10px 0;

}

h3{

	font-size: 22px;

	line-height: 30px;

	padding: 0 0 10px 0;

}

h4{

	font-size: 20px;

	line-height: 30px;

	padding: 0 0 10px 0;

}

h4 cufon{

	top: -7px !important;

}

h5{

	font-size: 18px;

	line-height: 20px;

	padding: 0 0 10px 0;

}

h6{

	font-size: 16px;

	line-height: 20px;

	padding: 0 0 10px 0;

}

.cufon-loading h1, .cufon-loading h2, .cufon-loading h3, .cufon-loading h4, .cufon-loading h5, .cufon-loading h6, .cufon-loading .post_type div, .cufon-loading .post_type span, .cufon-loading .header{

	visibility: hidden;

}



a{

	color: #ededed;

	text-decoration: none;

}

a:hover{

	color: #ededed;

	text-decoration: underline;

}

	.article a{

		color: #818181;

		text-decoration: underline;

	}

	.article h4 a{

		color: #181818;

		text-decoration: underline;

	}



.article h2.entry-title a {

	color: #181818;

}

	.article a:hover{

		text-decoration: none;

	}

	.article h1 a, .article h2 a, .article h3 a, .article h4 a, .article h5 a, .article h6 a{

		text-decoration: none;

		color: #505050;

	}

	.article h1 a:hover, .article h2 a:hover, .article h3 a:hover, .article h4 a:hover, .article h5 a:hover, .article h6 a:hover{

		color: #818181;

	}



ul{

	list-style: none;

}

p{

	margin-bottom: 10px;

}

blockquote{

	margin: 5px 0 5px 0;

	padding: 15px 20px 35px 20px;

	background: #d6dbdf url(/img/style/blockquote.gif) no-repeat 0 bottom;

}

blockquote p{

	margin: 0;

	padding: 0;

}

.article ol, .article ul{

	list-style-position: inside;

	margin: 0 0 10px 20px;

}

.article ul li {

	padding-left: 20px;



}



pre, code{

	display: block;

	margin: 5px 0 15px 0;

	padding: 15px 20px 15px 20px;

	background: #d6dbdf;

}

.grey_light{

	color: #9a9da0;

	text-shadow: 1px 1px 0 #fff;

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* [2. Top] */

#top{

	height: 50px;

	background: url(/img/style/top_bg.png) repeat-x 0 0;

}

	#top div{

		width: 850px;

		height: 20px;

		overflow: hidden;

		padding: 0 1px;

		margin: 0 auto;

	}

	#top a{

		display: block;

		float: left;

		color: #7c7c7c;

		text-shadow: 1px 1px 0 #101010;

		font-size: 10px;

		line-height: 14px;

		padding: 2px 0 4px 15px;

		margin-right: 20px;

		text-decoration: none;

		background-repeat: no-repeat;

		background-position: 0 3px;

	}

	#top a:hover{

		color: #ededed;

		background-position: 0 -17px;

	}



	#top a.ico_mobile{

		background-image: url(/img/style/ico_mobile.png)

	}

	#top a.ico_random{

		background-image: url(/img/style/ico_random.png)

	}

	#top a.ico_rss{

		background-image: url(/img/style/ico_rss.png)

	}

	#top a.ico_archive{

		padding-left: 17px;

		background-image: url(/img/style/ico_archive.png)

	}

	#top a.ico_ask{

	  padding-left: 11px;

	background-image: url(/img/style/ico_ask.png)
	}

	#top a.ico_submit{

		background-image: url(/img/style/ico_submit.png)

	}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* [3. Header] */

#header{

	width: 850px;

	margin: -30px auto 0 auto;

	height: 150px;

	position: relative;

}

	#logo{

		position: absolute;

		left: 0;

		top: 50px;

	}

	#nav{

		position: absolute;

		right: 0;

		top: 72px;

		z-index: 1000;

	}

		#nav li{

			position: relative;

			float: left;

			margin: 0 0 0 10px;

			padding: 0;

			z-index: 1001;

		}

			#nav li a{

				font-family: Arial, Helvetica, sans-serif;

				color: #ededed;

				font-weight: normal;

				text-decoration: none;

				font-size: 16px;

				padding: 0 0 0 10px;

				text-transform: uppercase;

				vertical-align: top;

			}

			.cufon-loading #nav li a{

				visibility: hidden;

			}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* [6. Content] */

#holder{

	width: 856px;

	margin: 15px auto 0 auto;

	min-height: 100px;

}

#content{

	float: left;

	width: 556px;

	min-height: 100px;

	padding-bottom: 25px;

}



/* Article */

.article{

	position: relative;

	background: url(/img/style/article_bg.png) repeat-y 0 0;

	overflow: hidden;

	color: #535353;

	text-shadow: 1px 1px 0 #fff;

	padding: 8px 23px 8px 23px;

	min-height: 50px;

}

.article_t, .article_b{

	position: relative;

	width: 646px;

	height: 12px;

	line-height: 12px;

	background-repeat: no-repeat;

	background-position: 0 0;

}

.article_t{

	background: url(/img/style/article_t.png) no-repeat 0 2px;

}

.article_b{

	background: url(/img/style/article_b.png) no-repeat 0 0;

	margin-bottom: 10px;

}



/* Article footer */

.article_footer{

	margin-top: -15px;

	background: url(/img/style/article_footer_bg.png) repeat-y 0 0;

}

.article_footer_s{

	padding: 5px 23px 2px 23px;

	overflow: hidden;

	background: url(/img/style/article_footer_s.png) no-repeat center 0;

}

.article_footer_b{

	margin-bottom: 10px;

	height: 8px;

	line-height: 8px;

	overflow: hidden;

	background:url(/img/style/article_footer_b.png) no-repeat 0 0;

}



/* Post types */

.post_type{

	position: absolute;

	left: -40px;

	top: 2px;

	width: 40px;

	height: 80px;

	padding: 3px 0 3px 3px;

	text-align: center;

	background: url(/img/style/post_type_bg.png) no-repeat 0 0;

	color: #ededed;

}

	.post_type div{

		font-size: 16px;

		line-height: 18px;

		height: 18px;

		overflow: hidden;

		margin-top: 3px;

	}

	.post_type span{

		font-size: 10px;

		line-height: 12px;

	}

	.cufon-loading .post_type span, .cufon-loading .post_type div{

		visibility: hidden;

	}

	.post_type a{

		display: block;

		width: 40px;

		height: 40px;

		background-repeat: no-repeat;

		background-position: 0 0;

	}

	.post_type.text a{

		background-image: url(/img/style/article.png);

	}

	.post_type.photo a{

		background-image: url(/img/style/image.png);

	}

	.post_type.link a{

		background-image: url(/img/style/link.png);

	}

	.post_type.audio a{

		background-image: url(/img/style/audio.png);

	}

	.post_type.video a{

		background-image: url(/img/style/video.png);

	}

	.post_type.quote a{

		background-image: url(/img/style/quote.png);

	}

	.post_type.chat a{

		background-image: url(/img/style/chat.png);

	}

	.post_type.answer a{

		background-image: url(/img/style/question.png);

	}





/* Chat */

table.chat{

	width: 100%;

	border: none;

	margin: 5px 0 5px 0;

}

table.chat td, table.chat td{

	padding: 5px 20px;

    color: #535353;

    text-shadow: 1px 1px 0 #FFFFFF;

	background-color: #d6dbdf;

}

table.chat td.author{

	padding-right: 0px;

	font-weight: bold;

	width: 1px;

}

table.chat tr.even td{

	background-color: #eff1f3;

}

table.chat tr.spread td{

	height: 10px;

	line-height: 10px;

	overflow: hidden;

	background: none;

}



/* Audiopost */

.a_player{

	width: 520px;

	margin: 0 0 0 -5px;

	padding: 0 0 0 5px;

	overflow: hidden;

}

.album_art{

	float: left;

}

.album_art img{

	max-width: 150px;

}

.media_audio{

	display: inline-block;

	clear: both;

	overflow: hidden;

	padding: 2px 2px 2px 1px;

	margin: 5px 0 9px 0;

	background: #e4e4e4;

	line-height: 0px;

}

.audio_player div, .audio_player span{

	line-height: 0px;

}

	

/* Entry meta: list */

.ico_link{

	display: block;

	float: left;

	font-size: 10px;

	color: #636363;

	background-position: 0 5px;

	background-repeat: no-repeat;

	padding-left: 15px;

	margin-right: 15px;

}

	.ico_link a{

		color: #636363;

	}

.ico_link:hover{

	color: #ededed;

	background-position: 0 -16px;

}

	.ico_link:hover a{

		color: #ededed;

	}

	.ico_link.author{

		background-image: url(/img/style/ico_author.png);

	}

	.ico_link.categories{

		background-image: url(/img/style/ico_categories.png);

	}

	.ico_link.comments{

		background-image: url(/img/style/ico_comments.png);

	}

	.ico_link.date{

		background-image: url(/img/style/ico_date.png);

	}

	.ico_link.tags{

		background-image: url(/img/style/ico_tags.png);

	}

	.ico_link.notes{

		background-image: url(/img/style/ico_notes.png);

	}

	.ico_link.permalink{

		background-image: url(/img/style/ico_permalink.png);

	}



/* Entry meta: post */

.entry_meta {

	overflow: hidden;

	margin: 0px 0 10px 0;

}

.entry_meta .ico_link{

	display: block;

	float: left;

	font-size: 10px;

	color: #818181;

	background-position: 0 5px;

	background-repeat: no-repeat;

	padding-left: 15px;

	margin-right: 15px;

	text-decoration: none;

}

	.entry_meta .ico_link a{

		color: #818181;

		text-decoration: none;

	}

	.entry_meta .ico_link:hover{

		color: #818181;

		background-position: 0 5px;



	}

	.entry_meta a.ico_link:hover{

		text-decoration: underline;

	}

	.entry_meta .ico_link:hover a{

		color: #818181;

	}

	.entry_meta .ico_link a:hover{

		text-decoration: underline;

	}

	.entry_meta .ico_link.author{

		background-image: url(/img/style/meta_author.png);

	}

	.entry_meta .ico_link.categories{

		background-image: url(/img/style/meta_categories.png);

	}

	.entry_meta .ico_link.comments{

		background-image: url(/img/style/meta_comments.png);

	}

	.entry_meta .ico_link.date{

		background-image: url(/img/style/meta_date.png);

	}

	.entry_meta .ico_link.tags{

		background-image: url(/img/style/meta_tags.png);

	}



/* Parinator */

.paginator{

	margin: 13px 0 7px 0;

	overflow: hidden;

}

	.paginator li{

		float: left;

		margin: 0 6px 6px 0;

	}

		.paginator li a{

			display: block;

			font-size: 13px;

			width: 34px;

			padding: 7px 0 7px 0;

			text-align: center;

			vertical-align: middle;

			background: url(/img/style/paginator_bg.png) no-repeat 0 0;

		}

		.paginator li a:hover, .paginator li.act a{

			color: #212121;

			text-shadow: 1px 1px 0 #fff;

			text-decoration: none;

			background-position: 0 -34px;

		}

		.paginator li.larr a, .paginator li.rarr a{

			width: auto;

			padding: 0;

		}

			.paginator li a span{

				display: block;

				padding: 7px 0 7px 0;

			}

		.paginator li.larr a{

			padding-right: 5px;

			background: url(/img/style/paginator_larr_r.png) no-repeat right 0;

		}

		.paginator li.larr a:hover{

			background-position: right -34px;

		}

		.paginator li.rarr a{

			padding-left: 5px;

			background: url(/img/style/paginator_rarr_l.png) no-repeat 0 0;

		}

		.paginator li.rarr a:hover{

			background-position: 0 -34px;

		}

			.paginator li.larr a span{

				padding-left: 15px;

				padding-right: 5px;

				background: url(/img/style/paginator_rarr_r.png) no-repeat 0 0;

			}

			.paginator li.larr a:hover span{

				background-position: 0 -34px;

			}

			.paginator li.rarr a span{

				padding-left: 5px;

				padding-right: 15px;

				background: url(/img/style/paginator_rarr_r.png) no-repeat right 0;

			}

			.paginator li.rarr a:hover span{

				background-position: right -34px;

			}



/* Comments */

.article_footer_s.comments{

/*	padding-top: 15px */

}

.article_footer .header{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 24px;

	line-height: 30px;

	margin: 20px 0 10px 0;

}

.article_footer_s.feedback .header{

	margin: 10px 0 10px 0;

}

.comment_bg{

	background: url(/img/style/comment_spread_l.png) no-repeat 0 bottom;

	margin: 0 0 15px 0;

}

.comment{

	overflow: hidden;

	background: url(/img/style/comment_spread_r.png) no-repeat right bottom;

	padding: 0 0 15px 60px;

}

	.level_1 .comment{

		padding: 0 0 15px 80px;

	}

	.comment .shadow_dark{

		margin: 5px 0 0 -60px;

		float: left;

		width: 40px;

		height: 40px;

	}

		.level_1 .comment .shadow_dark{

			margin: 5px 0 0 -80px;

			width: 60px;

			height: 60px;

		}

.comment_meta{

	overflow: hidden

}

	.comment_meta .comments{

		float: right;

		margin-right: 0;

	}

	.comment_meta p{

		margin: 0;

		padding: 0;

	}



.level_2{margin-left: 40px;} .level_3{margin-left: 80px;} .level_4{margin-left: 120px;} .level_5{margin-left: 160px;} .level_6{margin-left: 180px;} .level_7{margin-left: 200px;} .level_8{margin-left: 220px;} .level_9{margin-left: 240px;}



.comment .header{

	margin-bottom: 0px;

}



/* Gallery */

.gallery{

	width: 620px;

	font-size: 0px;

	line-height: 0px;

	word-spacing: -1px;

	padding: 10px 0;

}

.gallery_item{

	display: inline-block;

	width: 290px;

	margin: 15px 20px 0 0;

	padding: 25px 0 0 0; 

	vertical-align: top;

	font-size: 12px;

	line-height: 20px;

	word-spacing: 0;

	background: url(/img/style/gallery_spread.png) no-repeat center 0;

}

.gallery_item.first{

	margin-top: 0px;

	padding-top: 0px;

	background: none;

}

	.gallery_item  h4, .gallery_item  p{

		margin: 0;

		padding: 0;

	}

	.gallery_item .shadow_light{

		display: block;

		line-height: 0px;

		margin: 5px 0 5px 0;

		padding: 0;

		width: 280px;

		height: 150px;

		overflow: hidden;

	}

	

a.go_details{

	display: block;

	width: 69px;

	height: 22px;

	margin: 15px 0 3px 0;

	background: url(/img/style/go_details.png) no-repeat 0 0;

    clear: both;

	float: left;

}

a.go_details:hover{

	background-position: 0 -22px;

}



	.article ul.gall_std{

		list-style: none;

		line-height: 0;

		margin: 0;

		width: 621px;

	}

		.article .gall_std li{

			background: none;

			background-color: #fff;

			border: solid #fff 5px;

			-webkit-box-shadow: 0px 0px 3px #888;

			-moz-box-shadow: 0px 0px 3px #888;

			box-shadow: 0px 0px 3px #888;

			position:relative;

			max-width: 590px;

			float: left;

			margin: 5px 20px 15px 0;

			padding: 0;

		}

			.article .gall_std li a{

				padding: 0;

				margin: 0;

			}

			/* 4 pics per row */

			/*.article .gall_std li a img{

				width: 125px;

			}*/

			/* 5 pics per row */

			/*.article .gall_std li a img{

				width: 94px;

			}*/



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* [7. Aside] */

#aside{

	float: right;

	width: 286px;

	padding-bottom: 25px;

}



	#aside .widget{

		position: relative;

		overflow: hidden;

		padding: 10px 23px 12px 23px;

		background: url(/img/style/aside_wedget_s.png) no-repeat 0 2px;

	}

	#aside .widget.no_spot{

		background-image: url(/img/style/aside_wedget.png);

	}

	#aside .widget_b{

		position: relative;

		width: 286px;

		height: 6px;

		line-height: 6px;

		background-repeat: no-repeat;

		background-position: 0 0;

		background: url(/img/style/aside_wedget_b.png) no-repeat 0 0;

		margin-bottom: 12px;

	}

	#aside .widget .header{

		font-size: 20px;

		line-height: 30px;

		margin-bottom: 20px;

	}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* [8. Footer] */

#footer_bg{

	clear: both;

	background: #171717 url(/img/style/footer_bg.png) repeat-x 0 0;

}

#footer_s{

	padding: 15px 0 15px 0;

	background: url(/img/style/footer_s.png) no-repeat center 2px;

}

#footer{

	width: 850px;

	margin: 0 auto;

	color: #3f3f3f;

	font-size: 10px;

}

#footer a{

	color: #3f3f3f;

}

#footer a:hover{

	color: #ededed;

	text-decoration: none;

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* [10. Misc] */

small{

	font-size: 10px;

	color: #636363;

}

.quote_author{

	color: #181818;

	font-size: 16px;

	line-height: 21px;

	margin-bottom: 9px;

}



.media_video{

	padding: 5px;

	margin: 5px 0 15px 0;

	background: #fff;

	-webkit-box-shadow: 0px 0px 3px #888;

	-moz-box-shadow: 0px 0px 3px #888;

	box-shadow: 0px 0px 3px #888;

	position:relative;

	line-height: 10px;

}

.spacing_30{

	height: 30px;

}

.shadow_light, .alignnone, .alignleft, .alignright, .aligncenter{

	background: #fff;

	border: solid #fff 5px;

	-webkit-box-shadow: 0px 0px 3px #888;

	-moz-box-shadow: 0px 0px 3px #888;

	box-shadow: 0px 0px 3px #888;

	position:relative;

	max-width: 590px;

}

.alignleft{

	float: left;

	margin: 5px 20px 15px 0;

}

.alignright{

	float: right;

	margin: 5px 0 15px 20px;

}

.aligncenter{

	display: block;

	clear: both;

	margin: 5px auto 15px auto;

}



.shadow_dark, .widget .alignnone, .widget .alignleft, .widget .alignright, .widget .aligncenter{

	background: #262626 url(/img/style/widget_img_bg.gif) repeat-x 0 0;

	padding: 5px;

	border: none;

	-webkit-box-shadow: 0px 0px 3px #161616;

	-moz-box-shadow: 0px 0px 3px #161616;

	box-shadow: 0px 0px 3px #161616;

	position:relative;

	max-width: 230px;

}

.wp-caption-text, .caption-text{

	margin: -5px 0 0 0;

	padding: 0;

	font-size: 11px;

	color: #797a7c;

}

.wp-caption, .caption{

	font-size: 11px;

	color: #797a7c;

}

.wp-caption p, .caption p{

	margin: -5px 0 0 0;

	padding: 0;

}



/* Forms */

.uniform{

	display: block;

	overflow: hidden;

	margin: 14px 0 7px 0;

}

.uniform .i_h{

	width: 50%;

	float: left;

}

.uniform .t_h{

	clear: both;

	margin-right: 6px;

}

.uniform .i_h .l{

	margin: 0 10px 0 0;

}

.uniform .i_h .r{

	margin: 0 6px 0 4px;

}

.uniform input{

	padding: 0 0 0 4px;

	height: 19px;

	line-height: 19px;

	float: left;

	margin: 0 0 9px 0;

	float: left;

	display: block;

	width: 100%;

}

.uniform textarea{

	clear: both;

	width: 100%;

	padding: 0 0 0 4px;

	line-height: 20px;

	margin: 0 0 9px 0;

	overflow: auto;	

	height: 139px;

}

a.go_submit{

	display: block;

	float: left;

	width: 73px;

	height: 22px;

	margin: 1px 0 0 0;

	background: url(/img/style/go_submit.png) no-repeat 0 0;

}

a.go_add_comment{

	display: block;

	float: left;

	width: 113px;

	height: 22px;

	margin: 1px 0 0 0;

	background: url(/img/style/go_add_comment.png) no-repeat 0 0;

}

a.go_submit:hover, a.go_add_comment:hover{

	background-position: 0 -22px;

}

a.do_clear{

	display: block;

	float: right;

	padding-left: 9px;

	font-size: 11px;

	line-height: 18px;

	background: url(/img/style/do_clear.png) no-repeat 0 8px;

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* [11. Widgets] */



/* Common styles */

.widget .alignleft{

	float: left;

	margin: 5px 10px 5px 0;

}

.widget .alignright{

	float: right;

	margin: 5px 0 5px 10px;

}

.widget .aligncenter{

	display: block;

	clear: both;

	margin: 5px auto 5px auto;

}

.widget p{

	margin: 0;

}



	#aside .widget .header{

		font-family: Arial, Helvetica, sans-serif;

	}

	#footer .widget .header{

		font-family: Arial, Helvetica, sans-serif;

		color: #595b5b;

		text-shadow: -1px -1px 0 #000;

	}



/* Flickr */

.flickr{

	width: 250px;

	padding-top: 6px;

}

	.flickr .alignleft{

		margin: 0 5px 5px 0;

	}

	.flickr_badge_image{

	background: #262626 url(/img/style/widget_img_bg (1).gif) repeat-x 0 0;

	padding: 5px;

	border: none;

	-webkit-box-shadow: 0px 0px 3px #161616;

	-moz-box-shadow: 0px 0px 3px #161616;

	box-shadow: 0px 0px 3px #161616;

	position:relative;

	max-width: 230px;

	line-height: 0;

	font-size: 0;

	margin: 0 5px 5px 0;

	float: left;

	}

	.flickr_badge_image img{

		width: 46px;

		height: 46px;

	}

/* Posts (twitter, blog posts, etc.) */

.post{

	overflow: hidden;

	padding-top: 10px;

	margin-top: 10px;

	background: url(/img/style/widget_post_spread.png) no-repeat center 0;

}

	#footer .post{

		background: url(/img/style/footer_post_spread.png) no-repeat left 0;

	}

	.post.first, #footer .post.first, #tweets .post:first-child{

		margin: 0;

		padding: 0;

		background: none;

	}

.goto_post{

	overflow: hidden;

	clear: both;

}

	.goto_post .ico_link.comments{

		float: right;

		margin-right: 0;

	}

	

/* Categories */

ul.categories{

	width: 260px;

}

	ul.categories li{

		float: left;

		width: 110px;

		padding: 5px 0 0 0;

		margin: 5px 20px 0 0;

		background: url(/img/style/widget_ul_spread.png) no-repeat 0 0;

	}

	ul.categories li.first{

		margin-top: 0;

		padding: 0;

		background: none;

	}

		ul.categories li a{

			display: block;

			padding: 0 0 0 20px;

			background: url(/img/style/ddmenu_arr.png) no-repeat 0 5px;

		}



	ul.categories.type a{

		background-repeat: no-repeat;

		background-position: 0 2px;

	}

	ul.categories.type li.text a{

		background-image: url(/img/style/type_article.png);

	}

	ul.categories.type li.image a{

		background-image: url(/img/style/type_image.png);

	}

	ul.categories.type li.link a{

		background-image: url(/img/style/type_link.png);

	}

	ul.categories.type li.audio a{

		background-image: url(/img/style/type_audio.png);

	}

	ul.categories.type li.video a{

		background-image: url(/img/style/type_video.png);

	}

	ul.categories.type li.quote a{

		background-image: url(/img/style/type_quote.png);

	}

	ul.categories.type li.chat a{

		background-image: url(/img/style/type_chat.png);

	}

	ul.categories.type li.question a{

		background-image: url(/img/style/type_question.png);

	}



/* Follow me */

.soc_hold{

	overflow: hidden;

}

ul.categories.social{

	margin-top: -10px;

}



		ul.categories.social a{

			display: block;

			padding: 0 0 0 25px;

			background: url(/img/style/soc_bg.gif) no-repeat 0 1px;

		}

		ul.categories.social a:hover{

			background-position: 0 -29px;

		}

		ul.categories.social a i{

			display: block;

			width: 14px;

			height: 14px;

			float: left;

			margin: 4px 0 0 -22px;

			background-position: 0 0;

			background-repeat: no-repeat;

		}



	ul.categories.social li.tumblr i{

		background-image: url(/img/style/soc_tumblr.gif);

	}

	ul.categories.social li.facebook i{

		background-image: url(/img/style/soc_facebook.gif);

	}

	ul.categories.social li.lastfm i{

		background-image: url(/img/style/soc_lastfm.gif);

	}

	ul.categories.social li.twitter i{

		background-image: url(/img/style/soc_twitter.gif);

	}

	ul.categories.social li.youtube i{

		background-image: url(/img/style/soc_youtube.gif);

	}

	ul.categories.social li.flickr i{

		background-image: url(/img/style/soc_flickr.gif);

	}

	ul.categories.social li.myspace i{

		background-image: url(/img/style/soc_myspace.gif);

	}

	ul.categories.social li.vimeo i{

		background-image: url(/img/style/soc_vimeo.gif);

	}



	

/* Search */

form.c_search{

	background: #262626;

	border: solid #2f2f2f 1px;

	border-top-color: #000;

	border-left-color: #000;

	vertical-align: top;

}

form.c_search input{

	border: none;

	background: 0;

	height: 19px;

	line-height: 19px;

	width: 212px;

	padding-left:3px;

	vertical-align: top;

}

form.c_search a{

	display: block;

	float: right;

	width: 19px;

	height: 19px;

	background: url(/img/style/go_search.png) no-repeat center 4px;

	vertical-align: top;

}

form.c_search a:hover{

	background-position: center -16px;

}



/* Get in touch */

	.uniform.get_in_touch textarea{

		height: 79px;

	}

	

	.pp_gallery { display: none !important; }



div.comments_spead {

height: 15px;

}



.ppt {

display: none !important;

}

.bread .last {

cursor: default;

}



.dsq-popup-content {

	color:#8a8a8a;

	text-shadow:#EDEDED 1px 1px 0;

}

.note_line{

	background: url(/img/style/line.png) repeat-x left top;

	padding:10px 0 10px 0;

	width:550px;

	margin:0 0 0 -20px;





}

.dsq-button span {

	text-shadow:#EDEDED 1px 1px 0;

}

.dsq-comment-cite {

	color: #535353;

	text-shadow:#EDEDED 1px 1px 0;

}

.dsq-request-user-name, #dsq-content .dsq-comment-footer-right button.dsq-button-small{

	text-shadow:none;

}

#dsq-content .dsq-request-user-info td {

	color: #535353;

	text-shadow:none;

}

#dsq-content .dsq-comment-header-time a {

color: #535353 !important;

text-shadow:none;

}

#dsq-sort-by select, #dsq-content select {

	   -moz-border-bottom-colors: none;

    -moz-border-image: none;

    -moz-border-left-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    background: none repeat scroll 0 0 #fff;

    border-color: #ededed;

    border-right: 1px solid #ededed;

    border-style: solid;

    border-width: 1px;

	color:#535353;

	text-shadow:none;

}

#dsq-content #dsq-footer .dsq-font {

	color:#fff;

	font-size:0;

	display:none;

}

a.dsq-subscribe-email {

	background: url(/img/style/mail.jpg) no-repeat left 3px;

	padding:0px 0 0 17px;

}

a.dsq-subscribe-rss {

	background: url(/img/style/rss.jpg) no-repeat left 3px;

	padding:0 0 0 17px;

}
